*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;

  background: var(--secondary-bg);
  color: var(--text-primary-color);
  transition: color 0.5s, background-color 0.5s;

  line-height: 1;
  font-family: "Plus Jakarta Sans", sans-serif;

  // 僅在 Mac OS X / macOS 有效，避免文字鋸齒化
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(.modal.open) {
    overflow: hidden;
  }

  @include media-mobile {
    &:has(.backdrop.open) {
      overflow: hidden;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: initial;
  border: none;
  background: initial;
  transition: all 0.3s;
  cursor: pointer;

  &[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

img {
  vertical-align: top;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0; // 避免可能會有繼承字體大小或多了空白或其他問題
}

.nuxt-icon {
  margin-bottom: 0 !important;
}

.pic-frame {
  display: block;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

[class*="sr-only"] {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

@include media-breakpoint(tablet) {
  .sr-only-mobile {
    width: initial;
    height: initial;
    position: initial;
    overflow: initial;
  }
}
