// buttons property
$btn-property: (
  "primary": (
    "bg": $primary,
    "bg-hover": $primary-light,
    "color": $white
  ),
  "secondary": (
    "bg": change-color($primary, $alpha: 0.1),
    "bg-hover": change-color($primary, $alpha: 0.25),
    "color": $primary
  ),
  "destructive": (
    "bg": $alert,
    "bg-hover": $alert-light,
    "color": $white
  ),
  "dropdown-item": (
    "bg": $white,
    "bg-hover": $grey-lighter,
    "color": $grey-medium
  ),
  "delete": (
    "color": $grey-medium,
    "color-hover": $alert
  ),
  "ellipsis": (
    "color": $grey-medium
  ),
  "sidebar-board": (
    "bg": var(--primary-bg),
    "bg-hover": change-color($primary, $alpha: 0.1),
    "color": $grey-medium
  )
);

:root,
[data-theme="light"] {
  --primary-bg: #{$white};
  --secondary-bg: #{$grey-lighter};
  --alert-color: #{$alert};

  // buttons
  @each $type, $property in $btn-property {
    $key-list: map-keys($property);
    @each $key in $key-list {
      --btn-#{$type}-#{$key}: #{map-get($property, $key)};
    }
  }

  // typography
  --text-primary-color: #{$black};
  --text-secondary-color: #{$grey-medium};

  // border
  --border-primary: 1px solid #{$grey-light};

  // form
  --form-label-color: #{$grey-medium};
  --form-placeholder-color: #{change-color($black, $alpha: 0.25)};

  // sidebar
  --sidebar-board-padding-inline: 24px;

  // logo
  --logo-width: auto;
  @include media-breakpoint(tablet) {
    --logo-width: #{$logo-width-tablet};
  }

  @include media-breakpoint(desktop) {
    --logo-width: #{$logo-width-desktop};
  }
}

[data-theme="dark"] {
  --primary-bg: #{$grey-dark};
  --secondary-bg: #{$grey-darker};

  // buttons
  --btn-secondary-bg: #{$white};
  --btn-secondary-bg-hover: #{$white};
  --btn-dropdown-item-bg: #{$grey-darker};
  --btn-dropdown-item-bg-hover: #{$grey-dark};
  --btn-sidebar-board-bg-hover: #{$white};

  // typography
  --text-primary-color: #{$white};

  // border
  --border-primary: 1px solid #{$grey};

  // form
  --form-label-color: #{$white};
  --form-placeholder-color: #{change-color($white, $alpha: 0.25)};
}
